
body{
    background: #D9D2B6;
}
.formulario-notas{
    background: #B7B7B7;
    width: 50%;
    border: 8px solid;
    border-radius: 5px;
    border-image: linear-gradient(to left, #333333,#48E5C2,#FCFAF9,#F3D3BD,#5E5E5E);
    border-image-slice: 1;
    padding: 20px;
    display: grid;
    margin: 150px auto;
    grid-template-columns: 300px 35px;
    grid-template-rows: 65px 30px;
    justify-content: center;
    align-items: center;
}
.formularios-notas__h2{
    vertical-align: middle;
    text-align: center;
    margin: 10px;
    font-size: 1.2rem;
    background: rgba(209, 160, 208, 0.68);
    border: 4px solid;
    border-radius: 3px;
    border-image: linear-gradient(to left, #F2F6D0,#D0E1D4,#D9D2B6,#E4BE9E,#71697A);
    border-image-slice: 1;
}
.formulario-notas__input{
    text-align: center;
}

#-alumno{
    
}
#enviar-nota{
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    margin: 5px auto;
    width: 70px;
    padding: 10px;
    transition: transform .3s linear;
}

#enviar-nota:hover{
    transform: scale(1.1);
}